@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Dosis:wght@200&family=Smooch&display=swap');

*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: #333;
}
nav
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(37, 37, 37);
    color: rgb(0, 0, 0);
    height: 86px;

}
.content
{
    font-size: 30px;
    font-family: 'Smooch', cursive;
    padding: 10px;
    color: #fff;
    cursor: pointer;
}
.container
{
    width: 60vw;
    margin: auto;
    padding: 32px 0;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    color: #fff;
}
.logo
{
    background-color: #fff;
    padding: 9px;
    border-radius: 50px;
    cursor: pointer;
}
.logo img{
    width: 32px;
}
.toolbar-item button
{
    cursor: pointer !important;
    padding: 3.3px 14px !important;
    background-color: rgb(156, 156, 156) !important;
    color: black !important;
    border: 1px solid white !important;
    border-radius: 10px !important;
}